<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Risk Prediction</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link rel="icon" th:href="@{/img/favicon.ico}" type="image/x-icon">
    <script th:src="@{/js/risk_predictor.js}" defer></script>
</head>
<body>

<header>
    <div class="logo">
        <a th:href="@{/}">
            <img th:src="@{/img/logo.svg}" alt="Logo">
        </a>
    </div>
    <div class="title">
        <h1>🚗 AI Car Evaluation System</h1>
        <p>Get accurate predictions for <strong>price</strong>, <strong>potential repair costs</strong> , and <strong>risk</strong> of buying used cars.</p>
    </div>
    <div class="links">
        <a th:href="@{/auth}" class="btn-primary" th:if="${userEmail == null}">Sign In</a>
        <span th:if="${userEmail != null}" class="user-info">👤 Logged in as: <span th:text="${userEmail}"></span></span>
    </div>
</header>

<h1>Car Risk Prediction</h1>

<div class="container">
    <form id="riskPredictionForm" th:action="@{/risk-predictor/predict-risk}" method="post">
        <h2>⚠️ Risk Assessment</h2>
        <div class="form-row">
            <div class="form-half">
                <label for="brand">Brand:</label>
                <select id="brand" name="brand">
                    <option th:each="brand : ${brands}" th:value="${brand}" th:text="${brand}"></option>
                </select>

                <label for="year">Year:</label>
                <input type="number" id="year" name="year" min="2000" max="2025" value="2010" required>

                <label for="mileage">Mileage:</label>
                <input type="number" id="mileage" name="mileage" value="50000" required>

                <label for="transmission">Transmission:</label>
                <select id="transmission" name="transmission">
                    <option th:each="transmission : ${transmissions}" th:value="${transmission}" th:text="${transmission}"></option>
                </select>

                <label for="bodyType">Body Type:</label>
                <select id="bodyType" name="bodyType">
                    <option th:each="bodyType : ${bodyTypes}" th:value="${bodyType}" th:text="${bodyType}"></option>
                </select>
            </div>
            <div class="form-half">
                <label for="condition">Condition:</label>
                <select id="condition" name="condition">
                    <option th:each="condition : ${conditions}" th:value="${condition}" th:text="${condition}"></option>
                </select>

                <label for="fuelType">Fuel Type:</label>
                <select id="fuelType" name="fuelType">
                    <option th:each="fuelType : ${fuelTypes}" th:value="${fuelType}" th:text="${fuelType}"></option>
                </select>

                <label for="titleStatus">Title Status:</label>
                <select id="titleStatus" name="titleStatus">
                    <option th:each="titleStatus : ${titleStatuses}" th:value="${titleStatus}" th:text="${titleStatus}"></option>
                </select>

                <label for="cylinders">Cylinders:</label>
                <input type="number" id="cylinders" name="cylinders" min="2" max="12" value="6" required>

                <label for="price">Price:</label>
                <input type="number" id="price" name="price" min="0" value="10000" required>
            </div>
        </div>
        <button type="submit">⚡ Assess Risk</button>

        <h3 id="riskPredictionResult"></h3>
    </form>

    <div class="navigation-buttons">
        <form th:action="@{/price-predictor}" method="get">
            <button type="submit">Price Prediction</button>
        </form>
    </div>
</div>
</body>
</html>
